### Introduction

#### Interpreted Language

If you type your command in the console, you will get the response instantly.

Example: 
![Example of Python code](http://i.imgur.com/VMP3D0T.png)

#### Popular Language for Data Analysis

Most of the time, you will need external packages to asist data analyses.

 ![Python Packages](http://i.imgur.com/Q8trGd1.png)

---

### Variables

Vairables can be considered __containers__. You can put anything inside a container, __without specifying the size or type__, which will be needed in Java or C. Note that Python is case-sensitive. Be careful about using letters in different cases.

When assigning values, we put the variable to be assigned to on the left hand side (LHS), while the value to plug in on the RHS. LHS and RHS are connected by an equal sign (`=`), meaning assignment.

In [1]:
x = 3 # integer
y = 3.0 # floating point number
z = "Hello!" # strings
Z = "Wonderful!" # another string, stored in a variable big z.
print(x)
print(y)
print(z)
print(Z)

3
3.0
Hello!
Wonderful!

You can do operations on numeric values as well as strings.

In [2]:
sum_ = x + y # int + float = float
print(sum_)

6.0

In [3]:
v = "World!"
sum_string = z + " " + v # concatenate strings
print(sum_string)

Hello! World!

Print with formating with `%`

In [4]:
print("The sum of x and y is {:.2f}".format(sum_)) # %f for floating point number

The sum of x and y is 6.00

In [5]:
# split
# see lists section first
s = "aaaaa"
s_splitted = s.split('a')
s_splitted

['', '', '', '', '', '']

#### Naming convention

There are two commonly used style in programming:

1. __camelCase__
2. __snake_case__ or __lower_case_with_underscore__

All variable (function and class) names must start with a letter or underscore (\_). You can include numbers.

In [6]:
myStringHere = 'my string'
myStringHere

'my string'

In [7]:
x = 3 # valid
x_3 = "xyz" # valid

In [8]:
3_x = "456" # invalid. Numbers cannot be in the first position.

SyntaxError: invalid token (<ipython-input-8-3cc306df9410>, line 1)

You can choose either camel case or snake case. Always make sure you use one convention consistenly across one project.

See more here:

[1] https://www.python.org/dev/peps/pep-0008/#descriptive-naming-styles

[2] https://en.wikipedia.org/wiki/Naming_convention_(programming)

#### Some notes on Strings

To initialize a string variable, you can use either double or single quotes.

In [9]:

store_name = "QOM UNIVERSITY OF TECHNOLOGY"

You can think of strings as a sequence of characters (or a __list__ of characters, see the next section). In this case, indices and bracket notations can be used to access specific ranges of characters.

In [25]:
name_13 = store_name[:] # [start, end), end is exclusive; Python starts with 0 NOT 1
print(name_13)

QOM UNIVERSITY OF TECHNOLOGY

In [26]:
last_letter = store_name[-1] # -1 means the last element
print(last_letter)

Y

#### Variable Inspector in Jupyter

If you are more comfortable with an IDE like RStudio or Rodeo where we can see all the variables, the [Variable Inpsector](https://jupyter-contrib-nbextensions.readthedocs.io/en/latest/nbextensions/varInspector/README.html) extension may be helpful

---

### Simple Data Structures

In this section, we go over some common [primitive](https://www.datacamp.com/community/tutorials/data-structures-python#adt) data types in Python. While the word _primitive_ looks obscure, we can think of it as the most basic data type that cannot be further decomposed into simpler ones.

I categorize them into several subsections based on the values they represent.

#### Numbers

For numbers w/o fractional parts, we say they are ___integer___. In Python, they are called `int`

In [27]:
x = 3
type(x)

int

For numbers w/ fractional parts, they are floating point numbers. They are named `float` in Python.

In [28]:
y = 3.0
type(y)

float

We can apply arithmetic to these numbers. However, one thing we need to be careful about is ___type conversion___. See the example below.

In [29]:
z = 2 * x
type(z)

int

In [30]:
z = y + x
type(z)

float

#### Text/Characters/Strings

In Python, we use `str` type for storing letters, words, and any other characters, as mentioned previously in Section 2.2

In [31]:
my_word = "see you"
type(my_word)

str

Unlike numbers, `str` is an iterable object, meaning that we can iterate through each individual character:

In [32]:
my_word[0], my_word[2:6]

('s', 'e yo')

We can also use `+` to _concatenate_ different strings

In [33]:
my_word + ' tomorrow'

'see you tomorrow'

#### Boolean

Boolean type comes in handy when we need to check conditions. For example:

In [34]:
my_error = 1.6
compare_result = my_error < 0.1
compare_result, type(compare_result)

(False, bool)

There are two and only two valid Boolean values: `True` and `False`. We can also think of them as `1` and `0`, respectively.

In [35]:
my_error > 0

True

When we use Boolean values for arithmetic operations, they will become `1/0` automatically

In [36]:
(my_error>0) + 2

3

#### Type Conversion

Since variables in Python are dynamically typed, we need to be careful about type conversion.

When two variables share the same data type, there is not much to be worried about:

In [37]:
s1 = "no problem. "
s2 = "talk to you later"
s1 + s2

'no problem. talk to you later'

But be careful when we are mixing variables up:

In [ ]:
a = 3 # recall that this is an ____?
b = 2.7 # how about this?
c = a + b # what is the type of `c`?
type(c)

To make things work between string and numbers, we can explicitly convert numbers into `str`:

In [ ]:
s1 + 3

In [ ]:
s1 + str(3)

---

### Data Structures To Store Those in Section 3

In this section, we discuss some ___nonprimitive___ data structures in Python.

We can think of ___nonprimitive___ types as those who can store ___primitive___ data

#### List

Initialize a list with brackets. You can store anything in a list, even if they are different types
- note that we use [___string formatting___](https://pyformat.info/) to display strings
- `%i` is a placeholder for `int`
- `%s` for `str`

In [6]:
a_list = [1, 2, 3] # commas to seperate elements
print("Length of a_list is: %i"%(len(a_list)))
print("The 3rd element of a_list is: %s" %(a_list[2])) # Remember Python starts with 0
print("The last element of a_list is: %s" %(a_list[-1])) # -1 means the end
print("The sum of a_list is %.2f"%(sum(a_list)))

Length of a_list is: 3
The 3rd element of a_list is: 3
The last element of a_list is: 3
The sum of a_list is 6.00

We can put different types in a list

In [8]:
b_list = [20, True, "good", "good"] 
print(b_list)

[20, True, 'good', 'good']

Update a list: __pop__, __remove__, __append__, __extend__

In [9]:
print(a_list)
print("Pop %i out of a_list"%a_list.pop(1)) # pop the value of an index
print(a_list)

[1, 2, 3]
Pop 2 out of a_list
[1, 3]

In [10]:
print("Remove the string good from b_list:")
b_list.remove("good") # remove a specific value (the first one in the list)
print(b_list)

Remove the string good from b_list:
[20, True, 'good']

In [7]:
a = [1,2,5]
a = list(range(i)
a.append(10)
print(a)

[1, 2, 3]

merge `a_list` and `b_list`:

In [12]:
a_list.extend(b_list)
print("Merging a_list and b_list: %s"%(str(a_list)))
# is like :
# a1 = [1, 2]
# a2 = [3, 4]
# a3 = a1 + a2
# a1.extend(a2)
# print(a1)
# print(a3)

Merging a_list and b_list: [1, 3, 10, 20, True, 'good']

We can also use `+` to concatenate two lists

In [ ]:
a_list + b_list

#### Tuple (A special case of list whose elements cannot be changed)

Initialize a tuple with paranthesis. The major difference between list and tuple is that you can alter list but not tuple.

In [1]:
a_tuple = (1, 2, 3, 10)
print(a_tuple)
print("First element of a_tuple: %i"%a_tuple[0])

(1, 2, 3, 10)
First element of a_tuple: 1

You cannot change the values of a_tuple

In [2]:
a_tuple[0] = 5

TypeError: 'tuple' object does not support item assignment

In order to create a single value tuple, you need to add a ','

In [3]:
a_tuple = (1) # this would create a int type
print(type(a_tuple))
b_tuple = (1,) # this would create a tuple type, take note of the comma.
print(type(b_tuple))

<class 'int'>
<class 'tuple'>

#### Dictionary: key-value pairs

Initialize a dict by curly brackets `{}`

In [4]:
d = {} # empty dictionary
d[1] = "1 value" # add a key-value by using bracket (key). You can put anything in key/value.
print(d)

{1: '1 value'}

In [5]:
# Use for loop to add values
for index in range(2, 10):
    d[index] = "%i value"%index
print(d)
print("All the keys: " + str(d.keys()))
print("All the values: " + str(d.values()))

{1: '1 value', 2: '2 value', 3: '3 value', 4: '4 value', 5: '5 value', 6: '6 value', 7: '7 value', 8: '8 value', 9: '9 value'}
All the keys: dict_keys([1, 2, 3, 4, 5, 6, 7, 8, 9])
All the values: dict_values(['1 value', '2 value', '3 value', '4 value', '5 value', '6 value', '7 value', '8 value', '9 value'])

In [6]:
for key in d:
    print("Key is: %i, Value is : %s"%(key, d[key]))

Key is: 1, Value is : 1 value
Key is: 2, Value is : 2 value
Key is: 3, Value is : 3 value
Key is: 4, Value is : 4 value
Key is: 5, Value is : 5 value
Key is: 6, Value is : 6 value
Key is: 7, Value is : 7 value
Key is: 8, Value is : 8 value
Key is: 9, Value is : 9 value

---

### Control Logics

In the following examples, we show examples of comparison, `if-else` loop, `for` loop, and `while` loop.

#### Comparison

Python syntax for comparison is the same as our hand-written convention: 

1. Larger (or equal): `>` (`>=`)
2. Smaller (or equal): `<` (`<=`)
3. Equal to: `==` (__Notie here that there are double equal signs__)
4. Not equal to: `!=`

In [38]:
3 == 5

False

In [39]:
72 >= 2

True

In [40]:
store_name

'QOM UNIVERSITY OF TECHNOLOGY'

In [41]:
store_name == "HyVee" # Will return a boolean value True or False

False

IMPORTANT: It is worth noting that comparisons between floating point numbers are tricky.

In [42]:
print(2.2 * 3.0)
2.2 * 3.0 == 6.6

6.6000000000000005

False

In [43]:
3.3 * 2.0 == 6.6

True

In [44]:
print(float.hex(2.2 * 3.0))
print(float.hex(3.3 * 2.0))
print(float.hex(6.6))

0x1.a666666666667p+2
0x1.a666666666666p+2
0x1.a666666666666p+2

Therefore, be really careful when you have to do such comparison

#### If-Else

In [8]:
sum_ = 5

In [47]:
if sum_ == 0:
    print("sum_ is 0")
elif sum_ < 0:
    print("sum_ is less than 0")
else:
    print("sum_ is above 0 and its value is " + str(sum_)) # Cast sum_ into string type.

sum_ is above 0 and its value is 6.0

Note that you do not have to use `if-else` or `if-elif-...-else`. You can use `if` without other clauses following that.

In [48]:
if sum_ > 5:
    print('sum_ is above 5')

sum_ is above 5

Comparing strings are similar

In [49]:
store_name = 'Ali'

In [50]:
if 'A' in store_name:
    print("It has A in it.")
else:
    print("It doesn't have.")

It has A in it.

#### For loop: Iterating through a sequence

In [51]:
for letter in store_name:
    print(letter)

A
l
i

`range()` is a function to create interger sequences:
- Note that Python 3 now returns an `iterator` instead of actual `list` with `range` function
- See [link](https://stackoverflow.com/questions/44571718/python-3-range-vs-python-2-range)

In [52]:
print("range(5) gives" + str(list(range(5)))) # By default starts from 0
print("range(1,9) gives: " + str(list(range(1, 9)))) # From 1 to 9-1 (Again the end index is exclusive.)

range(5) gives[0, 1, 2, 3, 4]
range(1,9) gives: [1, 2, 3, 4, 5, 6, 7, 8]

In [53]:
for index in range(len(store_name)): # length of a sequence
    print("The %ith letter in store_name is: %s"%(index, store_name[index]))

The 0th letter in store_name is: A
The 1th letter in store_name is: l
The 2th letter in store_name is: i

#### While loop: Keep doing until condition no longer holds.

Use `for` when you know __the exact number of iterations__; use `while` when you __do not (e.g., checking convergence)__.

In [ ]:
x = 2

In [ ]:
while x < 10:
    print(x)
    x = x + (x-1)
    #x += x-1

#### Notes on `break` and `continue`

`break` means get out of the loop immediately. Any code after the `break` will NOT be executed.

In [ ]:
store_name = 'Walmart'

In [ ]:
index = 0
while True:
    print(store_name[index])
    index += 1 # a += b means a = a + b
    if store_name[index] == "a":
        print("End at a")
        break # instead of setting flag to False, we can directly break out of the loop
        print("Hello!") # This will NOT be run

`continue` means get to the next iteration of loop. It will __break__ the current iteration and __continue__ to the next.

In [ ]:
for letter in store_name:
    if letter == "a":
        continue # Not printing A
    else:
        print(letter)

In [ ]:
index = 0
while index <= len(store_name)-1:
    print(store_name[index])
    if store_name[index] == "a":
        print("This is an `a`")
        index += 1 # a += b means a = a + b
        continue
    print("Hello!") # This will NOT be run
    index += 1 # a += b means a = a + b

YOUR TURN
Example:

In [ ]:
INPUT:
    
    ali_19
    sina_23
    akram_52
    
OUTPUT:
    
    {'ali':19,'sina':23,'akram':52}

In [9]:
y = ""

def mydictconv(y):
    dict = {}
    y = int(y)
    dict[y] = "first value"
    return dict

print(mydictconv("3"))

{3: 'first value'}

In [9]:
mydict = {}
mylist = []
for i in range(5):
    mylist.append(i)
    mydict[i] = mylist
    print(mydict)
    
print(mydict)

{0: [0]}
{0: [0, 1], 1: [0, 1]}
{0: [0, 1, 2], 1: [0, 1, 2], 2: [0, 1, 2]}
{0: [0, 1, 2, 3], 1: [0, 1, 2, 3], 2: [0, 1, 2, 3], 3: [0, 1, 2, 3]}
{0: [0, 1, 2, 3, 4], 1: [0, 1, 2, 3, 4], 2: [0, 1, 2, 3, 4], 3: [0, 1, 2, 3, 4], 4: [0, 1, 2, 3, 4]}
{0: [0, 1, 2, 3, 4], 1: [0, 1, 2, 3, 4], 2: [0, 1, 2, 3, 4], 3: [0, 1, 2, 3, 4], 4: [0, 1, 2, 3, 4]}

##                                          Python Workshop - QUT - FALL 2018
###                                                                      Ali Salimi Sadr